#capa{
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("https://img.freepik.com/vetores-gratis/conjunto-de-simbolos-de-energia-alternativa-vector_53876-61926.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 40px;
    
}
#caixa1{border-color: black;
    width: 40px; ;
    float: right;
    height: 40px;
    background-color:crimson

    
}
#caixa2{border-color: blue;
    width: 40px;
    float: left;
    background-color: aqua;
    height: 40px
}
#caixa3{border-color: darkslategrey;
    width: 70px;
    float: inline-end;
    height: 40px;
    background-color: thistle;
}
#caixa4{
    width: 50px;
    float: inline-start;
    height: 40px;
    background-color: darkblue;
}