#container{
    display: flex;
    flex-wrap: wrap;
}

#projeto{
    justify-items: center;
}

#cabecalho {

    width: 400px; 
    float: right;
    height: 400px;
    background-color:violet;
    text-align: center;
    padding: 10px;   
}



#menu {
    
    padding: 10px;
    width: 100px;
    float: left;
    color: crimson;
    height: 40px;
}


nav {padding: 10px;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li{
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    
}

#rodape{
    width: 50px;
    float: inline-start;
    height: 40px;
    background-color:#333
    color#fff

    text-align cen
    bottom 0;
}
